{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{% static ''css/base.css' %}">
    <title>Document</title>
</head>
<body>
    <div class="flex flex-col items-center p-3 px-8 bg-gray-50 border-b drop-shadow-sm mb-3">
        <a href="" class="my-0 mr-md-auto font-black">Home</a>
        <nav class="my-2 my-md-0 mr-md-4">
            <a href="" class="p-2 text-blue-500">aboout</a>
            <a href="" class="p-2 text-blue-500">log in</a>
        </nav>
    </div>

    <div class="container">
        this is some stuff in the container
    </div>
</body>
</html>